@import 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
}

body {
    background-color: $bg-color-1;
    overflow: hidden;
}

.ProductButton:hover {
    transition: 0.3s;
    background-color: rgb(34 197 94);
}

.Finish-Button {
    display: none;
}